
 <style>
                
                .oeup-add-project .suppliers-panel h3{
                 color: white;   
                 font-size: 1.1em;  
                }
                
                 .oeup-add-project .suppliers-panel p{
                 font-size: 0.9em;   
                }
                
                .oeup-add-project .checkbox {
                    height: 200px;
                    overflow-y:scroll; 
                    overflow-x:hidden;
                    border: 1px solid #C9C9C9;
                }
                
                  .oeup-add-project .checkbox label {
                      display:block; margin-left: 20px;
                  }
                
             .oeup-add-project .suppliers-panel{
                  
                 position: fixed;
                top: 20px;
                background-color: grey;
                right: 20px;
                color: white;
                width: 200px;
                padding: 10px;
             }   
                
             </style>
<div class="oeup-add-project"> 
    
<ol class="breadcrumb">
    <li><a href="/">Accueil</a></li>
  <li><a href="/projets">Projets</a></li>
  <li class="active">Ajout Projet</li>
</ol>
<h1>Ajout Projet</h1>

<div ng-if="!vm.IsEnabled">
    <p>Aucune version trouvée, l'ajout de projet est impossible</p>
</div>

<div ng-if="vm.IsEnabled">
<form name="form" role="form" class="form-horizontal" enctype="multipart/form-data" novalidate mw-submit="vm.submit(form)">
                    <h2>Formulaire</h2>
           
                        <div class="form-group" mw-container="form.uTitle">
                            <label class="col-sm-3 control-label">Titre* : </label>
                            <div class="col-sm-4">
                                <input type="text" name="uTitle" ng-model="vm.Model.Title" class="form-control" mw-validate="vm.Rules.Title" />
                                <span mw-error="form.uTitle"></span>
                            </div>
                        </div>
                        <div class="form-group" mw-container="form.uVersion">
                            <label class="col-sm-3 control-label">Version TecDoc* : </label>
                            <div class="col-sm-4">
                                <input type="text" name="uVersion" ng-model="vm.Model.Version" class="form-control" mw-validate="vm.Rules.Version" />
                                <span mw-error="form.uVersion"></span>
                            </div>
                        </div>
                        <div class="form-group" mw-container="form.uDate">
                            <label class="col-sm-3 control-label">Date* : </label>
                            <div class="col-sm-4">
                                <input type="text" name="uDate" ng-model="vm.Model.Date" class="form-control" uib-datepicker-popup="dd/MM/yyyy" mw-validate="vm.Rules.Date" />
                                <span mw-error="form.uDate"></span>
                            </div>
                        </div>
                        <div class="form-group" mw-container="form.uComment">
                            <label class="col-sm-3 control-label">Commentaire : </label>
                            <div class="col-sm-4">
                                 <textarea ng-model="vm.Model.Comment" class="form-control" id="uComment" name="uComment" rows="4" cols="30" mw-validate="vm.Rules.Comment"></textarea>
                                <span mw-error="form.uComment"></span>
                            </div>
                        </div>
                    
                     <div class="form-group" mw-container="form.uConnector">
                            <label class="col-sm-3 control-label">GENARTNR* : </label>
                            <div class="col-sm-4">
                                <input type="text" name="uConnector" ng-model="vm.Model.Connector" class="form-control" mw-validate="vm.Rules.Connector" />
                                <span mw-error="form.uConnector"></span>
                            </div>
                        </div>
                      <h2>Paramètres Similarité</h2>     
                        <div class="form-group" mw-container="form.uSimilarity">
                        <label for="uSimilarity" class="col-sm-3 control-label">Similarité*:</label>
                        <div class="col-sm-4">
                            <select id="uSimilarity" name="uSimilarity" class="form-control" ng-model="vm.Model.SelectedSimilarity" ng-options="c as vm.DisplaySimilarity(c) for c in vm.Similarities" mw-validate="vm.Rules.Similarity">
                                <option value="">- Sélectionner -</option>
                            </select>
                            <span mw-error="form.uSimilarity"></span>
                        </div>
                    </div>
                    <h2>Equipementiers Premium</h2>     
                        <div class="form-group" mw-container="form.uSupplier">
                        <label for="uSupplier" class="col-sm-3 control-label">Equipementier*:</label>
                        <div class="col-sm-4">
                            <select id="uSupplier" name="uSupplier" class="form-control" ng-model="vm.Model.SelectedSuppliers" ng-change="vm.onSupplierChange(form)" ng-options="c as vm.DisplaySupplier(c) for c in vm.Suppliers" mw-validate="vm.Rules.Supplier">
                                <option value="">- Sélectionner -</option>
                            </select>
                            <span mw-error="form.uSupplier"></span>
                        </div>
                    </div>
                    <div >
                    <div class="form-group"  >
                        <div class="col-sm-offset-3 col-sm-4" >
                <div class="checkbox">
                    <label ng-repeat="supplier in vm.ListSuppliers | orderBy:'Label'">
                        <input type="checkbox" ng-model="vm.Model.Suppliers[supplier.HerNr.toString()]" ng-change="vm.onSupplierCheck(form)" />
                         {{supplier.Label}}
                    </label></div>
                </div>
                </div>
            </div>
                <div class="suppliers-panel" ng-if="vm.getSelectedSuppliers().length > 0" >
                    <h3>Equipementiers Premium séléctionné</h3>
                    <p ng-repeat="supplier in vm.getSelectedSuppliers()">> {{ supplier.Label }}</p>
                </div>
                
                <div class="form-group" mw-container="form.uSupplierSelected">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-4">
                                <input type="hidden" ng-model="vm.SupplierSelected" id="uSupplierSelected" name="uSupplierSelected" rows="4" cols="30" mw-validate="vm.Rules.SupplierSelected" />
                                <span mw-error="form.uSupplierSelected"></span>
                            </div>
                        </div>
                    <div class="form-group">
                            <div class="col-sm-3"> </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-success">Ajouter</button>
                            </div>
                        </div>

</form>

</div>

<ol class="breadcrumb">
    <li><a href="/">Accueil</a></li>
  <li><a href="/projets">Projets</a></li>
  <li class="active">Ajout Projet</li>
</ol>

   </div>