 <style>
                
                .oeup-add-export .refoes-panel h3{
                 color: white;   
                 font-size: 1.1em;  
                }
                
                 .oeup-add-export .refoes-panel p{
                 font-size: 0.9em;   
                }
                
                .oeup-add-export .checkbox {
                    height: 200px;overflow-y:scroll; overflow-x:hidden;border: 1px solid #C9C9C9;
                }
                
                  .oeup-add-export .checkbox label {
                      display:block; margin-left: 20px;
                  }
                
             .oeup-add-export .refoes-panel{
                      height: 400px;
    overflow-y: scroll;
                 position: fixed;
                top: 20px;
                background-color: #7979C9;
                right: 20px;
                color: white;
                width: 300px;
                padding: 10px;
             }   
                
             </style>
<div class="oeup-add-export">
<ol class="breadcrumb">
         <li><a href="/">Accueil</a></li>
  <li><a href="/projets">Projets</a></li>
  <li ><a href="/projet/{{vm.Project.Id}}">Projet {{vm.Project.Title}}</a></li>
  <li class="active">Ajout Export</li>
</ol>
<h1>Ajout Export</h1>
<form name="form" role="form" class="form-horizontal" enctype="multipart/form-data" novalidate mw-submit="vm.submit(form)">
                    <h2>Formulaire</h2>
                    <div>
                        <div class="form-group" mw-container="form.uTitle">
                            <label class="col-sm-3 control-label">Titre* : </label>
                            <div class="col-sm-4">
                                <input type="text" name="uTitle" ng-model="vm.Model.Title" class="form-control" mw-validate="vm.Rules.Title" />
                                <span mw-error="form.uTitle"></span>
                            </div>
                        </div>
                        <div class="form-group" mw-container="form.uDate">
                            <label class="col-sm-3 control-label">Date* : </label>
                            <div class="col-sm-4">
                                <input type="text" name="uDate" ng-model="vm.Model.Date" class="form-control" uib-datepicker-popup="dd/MM/yyyy" mw-validate="vm.Rules.Date" />
                                <span mw-error="form.uDate"></span>
                            </div>
                        </div>
                        <div class="form-group" mw-container="form.uComment">
                            <label class="col-sm-3 control-label">Commentaire : </label>
                            <div class="col-sm-4">
                                <textarea ng-model="vm.Model.Comment" class="form-control" id="uComment" name="uComment" rows="4" cols="30" mw-validate="vm.Rules.Comment"></textarea>
                                <span mw-error="form.uComment"></span>
                            </div>
                        </div>
                        <div class="form-group" mw-container="form.uSimilarityThreshold">
                            <label class="col-sm-3 control-label">Seuil de similarité : </label>
                            <div class="col-sm-4">
                                <input type="text"  ng-model="vm.Model.SimilarityThreshold" class="form-control" id="uSimilarityThreshold" name="uSimilarityThreshold" mw-validate="vm.Rules.SimilarityThreshold" />
                                <span mw-error="form.uSimilarityThreshold"></span>
                            </div>
                        </div>
                        <h2>RefOE importantes</h2>  
                           <div class="form-group" mw-container="form.uRefOe">
                        <label for="uRefOe" class="col-sm-3 control-label">Import RefOE*:</label>
                        <div class="col-sm-4">
                            <select id="uRefOe" name="uRefOe" class="form-control" ng-model="vm.Model.SelectedRefOes" ng-change="vm.onRefOeChange(form)" ng-options="c as vm.DisplayRefOes(c) for c in vm.RefOes" mw-validate="vm.Rules.RefOe">
                                <option value="">- Sélectionner -</option>
                            </select>
                            <span mw-error="form.uRefOe"></span>
                        </div>
                    </div>
                    <div >
                    <div class="form-group"  >
                        <div class="col-sm-offset-3 col-sm-4" >
                <div class="checkbox">
                    <label ng-repeat="refOe in vm.ListRefOes | orderBy:'Label'">
                        <input type="checkbox" ng-model="vm.Model.RefOes[refOe.Id]" ng-change="vm.onRefOeCheck(form)" />
                         {{vm.DisplayRefOe(refOe)}}
                    </label></div>
                </div>
                </div>   
                    </div>
                    
                <div class="refoes-panel" ng-if="vm.getSelectedRefOes().length > 0" >
                    <h3>RefOE séléctionnées</h3>
                    <p ng-repeat="refOe in vm.getSelectedRefOes()">> {{ vm.DisplayRefOe(refOe) }}</p>
                </div>
                  <div class="form-group" mw-container="form.uRefOeSelected">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-4">
                                <input type="hidden" ng-model="vm.RefOeSelected" id="uRefOeSelected" name="uRefOeSelected" mw-validate="vm.Rules.RefOeSelected" />
                                <span mw-error="form.uRefOeSelected"></span>
                            </div>
                        </div>
                    
                    <div class="form-group">
                            <div class="col-sm-3"> </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-success">Ajouter</button>
                            </div>
                        </div>

</form>


<ol class="breadcrumb">
           <li><a href="/">Accueil</a></li>
  <li><a href="/projets">Projets</a></li>
  <li ><a href="/projet/{{vm.Project.Id}}">Projet {{vm.Project.Title}}</a></li>
  <li class="active">Ajout Export</li>
</ol>

</div>