



<script type="text/ng-template" id="breadcrumbRefOe.html">
<ol class="breadcrumb">
   <li><a href="/">Accueil</a></li>
  <li><a href="/projets">Projets</a></li>
  <li class="active">RefOE importantes</li>
</ol>
</script>

<div ng-include="'breadcrumbRefOe.html'"></div>

<h1>RefOE importantes</h1>


<form name="form" role="form" class="form-horizontal" enctype="multipart/form-data" novalidate mw-submit="vm.submit(form)">
                    <h2>Import</h2>
           
                        <div class="form-group" mw-container="form.uTitle">
                            <label class="col-sm-3 control-label">Titre* : </label>
                            <div class="col-sm-4">
                                <input type="text" name="uTitle" ng-model="vm.Model.Title" class="form-control" mw-validate="vm.Rules.Title" />
                                <span mw-error="form.uTitle"></span>
                            </div>
                        </div>
                        <div class="form-group" mw-container="form.uDate">
                            <label class="col-sm-3 control-label">Date* : </label>
                            <div class="col-sm-4">
                                <input type="text" name="uDate" ng-model="vm.Model.Date" class="form-control" uib-datepicker-popup="dd/MM/yyyy" mw-validate="vm.Rules.Date" />
                                <span mw-error="form.uDate"></span>
                            </div>
                        </div>
                        <div class="form-group" mw-container="form.uComment">
                            <label class="col-sm-3 control-label">Commentaire : </label>
                            <div class="col-sm-4">
                                 <textarea ng-model="vm.Model.Comment" class="form-control" id="uComment" name="uComment" rows="4" cols="30" mw-validate="vm.Rules.Comment"></textarea>
                                <span mw-error="form.uComment"></span>
                            </div>
                        </div>
                        <div class="form-group" mw-container="form.uFile">
                            <label class="col-sm-3 control-label">Fichier : </label>
                            <div class="col-sm-4">
                                <div mw-excel mw-change="vm.onChange"></div>
                                <input type="hidden" ng-model="vm.File" id="uFile" name="uFile" rows="4" cols="30" mw-validate="vm.Rules.File" />
                                <span mw-error="form.uFile"></span>
                            </div>
                        </div>
                    <div class="form-group">
                            <div class="col-sm-3"> </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-success">Valider</button>
                            </div>
                        </div>
</form>

    <h2>Imports</h2>
<div ng-if="vm.RefOes.length >0">
    <table class="table" >
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Commentaire</th>
            </tr>
        </thead>
        <tbody>
            <tr class="height-20" ng-repeat="RefOe in vm.RefOes">
                <td>{{RefOe.Title}}</td>
                <td>{{RefOe.Date  | date:'dd/MM/yyyy' }}</td>
                <td>{{RefOe.Comment}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-if="vm.RefOes.length<=0" class="oeup-empty">
    <p>Aucune référence.</p>
</div>

<div ng-include="'breadcrumbRefOe.html'"></div>

<!--
<style>
   .thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}


.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
    </style>

<a href="/api/file/download" target="_blank">Export complet du référentiel</a>
<form method="post" action="/api/file/upload" enctype="multipart/form-data">
        <input type="file" name="files" multiple="multiple" >
    
    <input type="submit" value="Upload" />
</form>

<div  ng-controller="MyCtrl">
  <h4>Upload on file select</h4>
  <button ngf-select="uploadFiles($files, $invalidFiles)" class="btn btn-primary" multiple
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
      Select Files</button>
  <br><br>
  Files:
  <ul>
    <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
         <uib-progressbar max="100" value="f.progress"><span style="color:white; white-space:nowrap;">{{f.progress}} %</span></uib-progressbar> 
      </span>
    </li>
    <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
    </li> 
  </ul>
  {{errorMsg}}
</div>

<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Version BDA</th>
            <th>Commentaire</th>
            <th>Etat</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="height-20" ng-repeat="animal in vm.Animals">
            <td><a href="#/home/overview/details/{{animal.Id}}">{{animal.AnimalName}}</a></td>
            <td>{{animal.Speed}}</td>
            <td>{{animal.Speed}}</td>
            <td>{{animal.Speed}}</td>
            <td>
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-edit" /></button>
                <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" /></button>
            </td>
        </tr>
    </tbody>
</table>

<div>
	<button type="button" class="btn btn-primary pull-right">Ajouter</button>
</div>
-->
