<script type="text/ng-template" id="breadcrumbProposer.html">
    <ol class="breadcrumb">
    <li><a href="/">Accueil</a></li>
    <li class="active">Proposer</li>
    </ol>
</script>

<div ng-include="'breadcrumbProposer.html'"></div>

<h1>Proposer vos biens</h1>

<button type="button" class="btn btn-default pull-right" ng-bind="vm.navAdd()">Ajouter un bien</button>

<div ng-if="vm.Biens.length >0">

<h2>Liste des biens</h2>
<table class="table" ng-repeat="bien in vm.Biens">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody >
        <tr >
            <td >
                <span>Loué du {{bien.DateDebut | date:'dd/MM/yyyy' }} au {{bien.DateFin | date:'dd/MM/yyyy' }} : {{bien.Frequence}} de {{bien.DateDebut | date:'HH:mm' }} au {{bien.DateFin | date:'HH:mm' }}</span>
            </td>
        </tr>
        <tr class="height-20" >
            <td>
                <span ng-bind="bien.Titre" ></span>
            </td>
            <td>                
                   <span >{{bien.DateDebut | date:'dd/MM/yyyy' }}</span>
                   <span >{{bien.DateFin | date:'dd/MM/yyyy' }}</span>
            <td>
                <button ng-click="vm.remove(bien)" type="button" class="btn btn-danger" uib-popover="Supprimer" popover-trigger="mouseenter"><span class="glyphicon glyphicon-remove" /></button>
            </td>
        </tr>
        
    </tbody>
</table>
<button type="button" class="btn btn-default pull-right" ng-bind="vm.navAdd()">Ajouter un bien</button>

</div>

<div ng-if="vm.Biens.length <=0" class="oeup-empty">
    <p>Aucun bien déclaré.</p>
</div>

<div ng-include="'breadcrumbProposer.html'"></div>